# Black ensures no breaking formatting changes on minor releases
# https://black.readthedocs.io/en/latest/the_black_code_style/index.html?highlight=stability#stability-policy
black~=22.0
# Flake8 says that the error codes are stable across minor releases
# https://flake8.pycqa.org/en/latest/faq.html#why-does-flake8-use-ranges-for-its-dependencies
flake8~=4.0
isort~=5.10.0
# mypy doesn't provide a compatiblity strategy, let's pin it to an exact version
mypy==0.961
imageio~=2.19.0
scipy~=1.8.0
numpy~=1.23.0
matplotlib~=3.5.0
opencv-python-headless~=4.6.0.0
jupyterlab~=3.4.0
jupytext~=1.14.0
ipympl~=0.9.0
pyautogui==0.9.53
